@import url("https://fonts.cdnfonts.com/css/roboto");
* {
  font-family: "Roboto Black", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #faf6dc;
  color: #3d264a;
  font-size: 200%;
}

header {
  background-color: #ebe4bc;
  margin: 4px 2px;
  text-align: center;
  font-size: 250%;
}

div.gamestate {
  padding: 20px 0;
  background-color: #ebe4bc;
  border-radius: 3px;
  width: 50vw;
  margin: 4px 2px;
  text-align: center;
}
div.top {
  display: flex;
}

div.tiles {
  display: flex;
}
button {
  background-color: #8ca9dc;
  border: none;
  color: #faf6dc;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
}

button.tile {
  background-color: #ebe4bc;
  color: #3d264a;
  width: 5vw;
  font-size: 80%;
}

button.tile_filled {
  background-color: #98b9ab;
  color: #faf6dc;
  width: 5vw;
  font-size: 80%;
}

button:hover {
  background-color: #feab5e;
  color: #faf6dc;
}
button:disabled {
  background-color: #8ca9dc;
  color: #faf6dc;
}

button.tile:disabled {
  background-color: #ebe4bc;
}
button.randombutton {
  width: 50vw;
  font-size: 20vw;
}
