@import url("https://fonts.cdnfonts.com/css/roboto");
* {
  font-family: "Roboto Black", sans-serif;
}
body {
  background-color: #faf6dc;
  color: #3d264a;
  font-size: 100%;
}

header {
  background-color: #ebe4bc;
  text-align: center;
  font-size: 6vw;
}

div.score {
  background-color: #ebe4bc;
  text-align: center;
  font-size: 3vw;
}
div.explanation {
  font-size: 200%;
  text-align: center;
}
div.top {
  width: 100vw;
  display: flex;
}

div.tiles {
  width: 50vw;
  height: 50vw;
}
button {
  border: none;
  background-color: #ebe4bc;
  color: #faf6dc;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
  background-color: #98b9ab;
  cursor: pointer;
}

button.tile {
  background-color: #ebe4bc;
  color: #faf6dc;
  width: 12.5vw;
  height: 10vw;
  font-size: 6vw;
}

button:hover {
  background-color: #feab5e;
  color: #faf6dc;
}
button:disabled {
  background-color: #98b9ab;
  color: #faf6dc;
}

button.tile:disabled {
  background-color: #ebe4bc;
}
button.randombutton {
  width: 50vw;
  height: 50vw;
  font-size: 12vw;
}
button.filled-1:disabled {
  background-color: #8ca9dc;
  color: #faf6dc;
}

@media only screen and (max-width: 500px) {
  header {
    font-size: 7vw;
  }

  div.score {
    font-size: 100%;
  }
  button.randombutton {
    width: 100vw;
    height: 20vw;
    font-size: 12vw;
  }
  div.top {
    width: 100vw;
    display: block;
  }
  div.tiles {
    width: 100vw;
    height: 100vw;
  }
  button.tile {
    width: 25vw;
    height: 20vw;
    font-size: 6vw;
  }
  div.explanation {
    font-size: 100%;
  }
}
